.btn {
  display: inline-flex;
  padding: 13.333px 11.667px;
  justify-content: center;
  align-items: center;
  border-radius: 6.667px;
  background-color: #46b20f;
  color: #fff;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
